body{
    background: #f2f2f2 ;
    font-family: 'Open Sans', 'sans-serif'
}
header{
    margin-top: 30px;
}
header .nav{
    min-height: 80px;
    overflow: hidden;
    background: #fff;
}

/* Logo */
header .logo h2,
header .logo span,
header .logo p{
    font-size: 16px;
    display: inline-block;
    margin: 0;

}
header .logo h2{
    font-weight: 800;
    text-transform: uppercase;
}
header .logo .icono{color: #bfbfbf;}
header .logo p{color: #777777;}
/* Menú */
header .menu{
    padding: 0;
}
header .menu a{
    display: block;
    padding: 0 30px;
    text-decoration: none;
    color: #fff;
}
header .menu a div span{
    font-weight: 600;
}
header .menu .c-1{ background:#FA8072 ;}
header .menu .c-2{ background:#F08080 ;}
header .menu .c-3{ background:#CD5C5C;}

header .menu .c-1:hover{ background:#F18F8F ;}
header .menu .c-2:hover{ background:#F77E7E ;}
header .menu .c-3:hover{ background:#EB6363;}

/* Slider */

.slider {
    margin-bottom: 40px;
}
.slider .col {
    padding: 0;
}
/* portafolio */
.portafolio{
    background: #fff;
    border-top: 5px solid #683319;
    padding: 0 20px;
}

.portafolio .titulo{
    padding: 40px 0;
    text-align: center;
    color: #683319;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.portafolio .galeria .contenedor-imagen {
    margin-bottom: 40px;
    max-height: 180px;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
    background: #B15528;
    display: inline-block;
}
.portafolio .galeria .contenedor-imagen:hover img{
    opacity: .3;
}
.portafolio .modal-dialog{
    margin: 0px auto;
    height: 100%;
    max-width: 1000px;
}
.portafolio .modal-content{
    width: auto;
    justify-content: center;
}

/* Acerca de */

.acerca-de{
    padding: 30px;
    margin-bottom: 40px;
}

.acerca-de .foto img{
    margin-bottom: 30px;
}

.acerca-de .foto .nombre{
    color: #923a0f;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
}

.acerca-de .info .titulo {
    color: #683319;
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
}

.acerca-de .info .resumen{
    letter-spacing: 1px;
}
.acerca-de .info .label {
    font-size: 18px;
    font-weight: 600;
    color: #906B53;
    bottom: 10px;
}

.acerca-de .info .progress{
    background: #582F1B;
    border-radius: 0;
    margin-bottom: 15px;
    height: 25%;
}

.acerca-de .info .progress .progress-bar{
    background: #B78065;
    line-height: 25px;
    text-align: left;
    padding-left: 20px;
}

/* Contacto */
.contacto{
    padding: 40px 0;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 40px;
}
.contacto .titulo{
    color: #EB6363;
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.contacto .form-group{
    margin-bottom: 0;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea{
    padding: 15px;
    border: none;
    width: 100%;
    font-family:'Open Sans', sans-serif;
    margin-bottom: 30px;
}
.formulario textarea{
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}
.formulario .boton {
    background: #683319;
    border: none;
    padding: 7px 30px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}
.formulario .boton:hover{
    background: #B15528;

}

/* Footer */

.redes-sociales .icono{
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    color: #CD5C5C;
    text-align: center;
    background: #F18F8F;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    border-radius: 100px;
    transition: all, 3s ease;
}

.redes-sociales .twitter {background: #FA8072;}
.redes-sociales .instagram {background: #EB6363;}
.redes-sociales .facebook-squared {background: #CD5C5C;}
/* Mediaqueries */
@media screen and (max-width:1199px){}
@media screen and (max-width:991px){
    .logo{
        height: 76px;
    }
    .menu{
        min-height: 76px;
    }
    .menu a{
        width: 100%;
    }
    .menu a div{
        width: 100%;
    }

    .portafolio .galeria .contenedor-imagen:nth-child(1) {order: 1;}
    .portafolio .galeria .contenedor-imagen:nth-child(2) {order: 3;}
    .portafolio .galeria .contenedor-imagen:nth-child(3) {order: 6;}
    .portafolio .galeria .contenedor-imagen:nth-child(4) {order: 2;}
    .portafolio .galeria .contenedor-imagen:nth-child(5) {order: 5;}
    .portafolio .galeria .contenedor-imagen:nth-child(6) {order: 4;}
    .portafolio .galeria .contenedor-imagen:nth-child(7) {order: 7;}

    .modal.modal-dialog{
        width: 90%;
    }
    .modal .modal-dialog .modal-content img{
        width: 100%;
    }
}   

@media screen and (max-width:767px){
}
@media screen and (max-width:575px){
    header{
        margin-top: 0;        
    }

    header .logo h2,
    header .logo p{
        font-size: 12px;
    }
}